@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  background-color: #3d104f;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mask {
  -webkit-mask-image: url("/mask.svg");
  mask-image: url("/mask.svg");
  background: #00ffd1;
  -webkit-mask-size: cover;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position:50%;
  mask-size:40px;
}
